In [2]:
import pandas as pd
import numpy as np 
import re
import os
from nltk.corpus import stopwords
from texter.models.sklearn import learners
from texter.utils import text_utils as tu

In [3]:
mlp_config = dict(activation="tanh")
mlp = learners.classifier("MLP", mlp_config).model()

classification model configured to use MLPClassifier algorithm.

In [4]:
excludes = stopwords.words("english")
text_path = "../../../citi/citi_rest/data/raw_data/"
w2v_mod_path = "../../data/others/GoogleNews-vectors-negative300-SLIM.bin"
text_labels = os.listdir(text_path)

In [5]:
data = tu.load_data(excludes, text_path, text_labels)
data
data.label = data.label.replace(to_replace=0, value="class_1")
data.label = data.label.replace(to_replace=1, value="class_2")
data.label = data.label.replace(to_replace=2, value="class_3")
data

      label                                               text
0   class_1  dogs fox zebra monkey friends alonzo distrit c...
1   class_1  friends alonzo distrit category money bro one ...
2   class_1            going big file nonsense one class think
3   class_2  apple also fruit keeps doctor away like eat ap...
4   class_2        man mango fruit like eat mangos summer time
5   class_2  apple also fruit keeps doctor away like eat ap...
6   class_2  apple also fruit keeps doctor away like eat ap...
7   class_3  type cat lions cats lepords non vegetarian lov...
8   class_3          class animals type cat lions cats lepords
9   class_3  type cat lions cats lepords non vegetarian lov...
10  class_3    class animals type cat lions cats lepords manfo

In [6]:
x_data, y_data = tu.document_pos_tagger(data)

#
from sklearn.model_selection import train_test_split
x_tr, x_te, y_tr, y_te = train_test_split(x_data, y_data)
#

x_embeddings = tu.word2vec(x_tr,w2v_mod_path)
y_tr = np.array(y_tr)

x_embe = tu.word2vec(x_te,w2v_mod_path)
y_te = np.array(y_te)

Loading Slim-Google-vectors-negative300.bin pretrained embeddings
Considering only ['ADJ', 'NOUN']
Averaging the Word Embeddings...
Loading Slim-Google-vectors-negative300.bin pretrained embeddings
Considering only ['ADJ', 'NOUN']
Averaging the Word Embeddings...

In [7]:
mlp.fit(x_embeddings, y_tr)

MLPClassifier(activation='tanh', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [8]:
mlp.predict(x_embe)

array(['class_2', 'class_3', 'class_2'], dtype='<U7')

In [9]:
s = "dogs zebra and monkey are here"
r = "use the universal features. and apple and microsoft and google"
l = "tempo"
t = "tempo"
sl = pd.DataFrame(dict(text=[s, r], label=[l, t]))

In [10]:
new = tu.word2vec(tu.document_pos_tagger(sl)[0], w2v_mod_path)

Loading Slim-Google-vectors-negative300.bin pretrained embeddings
Considering only ['ADJ', 'NOUN']
Averaging the Word Embeddings...

In [11]:
mlp.predict(new)

array(['class_1', 'class_2'], dtype='<U7')

In [12]:
data

      label                                               text
0   class_1  dogs fox zebra monkey friends alonzo distrit c...
1   class_1  friends alonzo distrit category money bro one ...
2   class_1            going big file nonsense one class think
3   class_2  apple also fruit keeps doctor away like eat ap...
4   class_2        man mango fruit like eat mangos summer time
5   class_2  apple also fruit keeps doctor away like eat ap...
6   class_2  apple also fruit keeps doctor away like eat ap...
7   class_3  type cat lions cats lepords non vegetarian lov...
8   class_3          class animals type cat lions cats lepords
9   class_3  type cat lions cats lepords non vegetarian lov...
10  class_3    class animals type cat lions cats lepords manfo